minimal_copy
node_modules
.env
.npm_token
.modules
.nx

# CI
/test-results/
/blob-report/
.clinic
**coverage
.cli-store


# compiled output
dist
tmp
/out-tsc
.env
.npm_token
**/.eslintcache
**.eslintcache
.eslintcache
**.temp
**.data
**.build
**.branches
**/components.d.ts
**/migration_backups
**/migration_logs

# dependencies
node_modules
.env
**.env
supabase/functions/.env
.npm_token

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
**/.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
**/logs
**/logs/**
logs
docs/**

# Debugging
debug/**
trace
ts-diagnostic-results

# System Files
.
Thumbs.db
**.DS_Store

repomix-output.xml
repomix-output.txt
**/repomix-output.xml
**/repomix-output.txt

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache.npm_token
supabase/functions/.env
.env

.cache
.turbo

# TEMP
ai-docs

**/openapi/

.DS_Store
**/.DS_Store

output
**/output/**
backups
**/backups/**

**/crawler.log
**/bugger/results