# Node and module settings
strict-peer-dependencies=false

# Workspace settings
shared-workspace-lockfile=true
save-workspace-protocol=true

# Global Package Resolution
# Nuxt required hoisting
public-hoist-pattern[]="*nuxt*"
public-hoist-pattern[]="@nuxt/*"
public-hoist-pattern[]="scule"
public-hoist-pattern[]="*vue*"
public-hoist-pattern[]="@vue/*"
public-hoist-pattern[]="nitropack"
public-hoist-pattern[]="h3"
public-hoist-pattern[]="defu"
public-hoist-pattern[]="ufo"

# NX and Prisma hoisting
public-hoist-pattern[]="*prisma*"
public-hoist-pattern[]="@prisma/*"
public-hoist-pattern[]="prisma"
public-hoist-pattern[]="@nx/*"
public-hoist-pattern[]="nx"
public-hoist-pattern[]="typescript"

# For better resolution of workspace packages
link-workspace-packages=true
prefer-workspace-packages=true
