# node-linker=hoisted
# shamefully-hoist=true
# strict-peer-dependencies=false
# legacy-peer-deps=true
# resolution-mode=highest
# build-from-source=true
# platform=linux
# arch=x64
# target_libc=glibc

# # Hoisting patterns for monorepo
# public-hoist-pattern[]=*rollup*
# public-hoist-pattern[]=*esbuild*
# public-hoist-pattern[]=*webpack*
# public-hoist-pattern[]=*types*
# public-hoist-pattern[]=*vue*
# public-hoist-pattern[]=*nuxt*
# public-hoist-pattern[]=*vite*
# public-hoist-pattern[]=@rollup/*
# public-hoist-pattern[]=*msw*
# public-hoist-pattern[]=*vitest*

# # Development dependencies
# save-dev=true