/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 3px solid transparent;
  /* Creates "gap" */
  background-clip: content-box;
  /* Prevents background color from filling "gap" */
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 3px solid transparent;
  /* Creates "gap" */
  background-clip: content-box;
  /* Prevents background color from filling "gap" */
  border-radius: 8px;
}