/* @import 'cropperjs/dist/cropper.css'; */
@import './scrollbar.css';
@import './transitions.css';
/* @import './variables.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --nav-height-mobi: 40px;
    --nav-height-sm: 44px;
    --nav-height-md: 50px;
    --nav-height-lg: 60px;
  }
}

@layer components {
  .card {
    @apply p-4 border border-zinc-300 dark:border-zinc-800 md:p-12 md:rounded-lg md:shadow-sm w-full bg-zinc-200 dark:bg-zinc-900;
  }
}

@layer utilities {
  ::-webkit-scrollbar-track {
    @apply bg-zinc-200 dark:bg-zinc-900 border-l border-zinc-300;
  }
  .nav-link {
    @apply text-zinc-800 dark:text-zinc-100 hover:text-primary-600 dark:hover:text-primary-700 cursor-pointer;
  }
  .link {
    @apply text-secondary-600 dark:text-secondary-800 hover:text-primary-500 dark:hover:text-primary-700 cursor-pointer;
  }
  .foreground {
    @apply bg-zinc-200 dark:bg-zinc-900;
  }
  .background {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950;
  }
  .bg-light {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-zinc-300;
  }
  .border-color {
    @apply border-zinc-300 dark:border-zinc-800;
  }
  .border-inverted {
    @apply border-zinc-800 dark:border-zinc-300;
  }
  body {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950 border-zinc-300 dark:border-zinc-800;
  }
  .text-light {
    @apply text-zinc-100 dark:text-zinc-300;
  }
  .home-width {
    @apply max-w-[100%] md:max-w-[80%] lg:max-w-[1240px];
  }
  .inverted {
    @apply text-[#fff];
  }
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
