@import './scrollbar.css';
@import './transitions.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height-mobi: 46px;
    --nav-height-sm: 50px;
    --nav-height-md: 50px;
    --nav-height-lg: 60px;
    --max-width-md: 1080px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply w-full p-4 border border-zinc-300 dark:border-zinc-800 lg:p-8 md:rounded-lg md:shadow-sm bg-zinc-200 dark:bg-zinc-900;
  }
}

@layer utilities {
  .swiper-slide {
    @apply rounded-md shadow-md bg-zinc-200 dark:bg-zinc-900;
  }
  .conference-wrap {
    @apply flex flex-col max-w-6xl gap-6 mx-auto xl:gap-12 px-4 xl:px-8 py-6 xl:py-12;
  }
  .nav-link {
    @apply cursor-pointer text-zinc-800 dark:text-zinc-100 hover:text-primary-600 dark:hover:text-primary-700;
  }
  .link {
    @apply cursor-pointer text-primary-600 dark:text-primary-700 hover:text-primary-500 dark:hover:text-primary-600;
  }
  .foreground {
    @apply bg-zinc-50 dark:bg-zinc-900;
  }
  .background {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950;
  }
  .bg-light {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-zinc-300;
  }
  .container {
    @apply max-w-[1240px] mx-auto flex flex-col px-[20px] md:px-[80px] lg:px-[160px];
  }
  .border-color {
    @apply border-zinc-200 dark:border-zinc-800;
  }
  .border-inverted {
    @apply border-zinc-800 dark:border-zinc-300;
  }
  body {
    @apply text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950 border-zinc-300 dark:border-zinc-800 decoration-primary-500 dark:decoration-primary-700;
  }
  .text-light {
    @apply text-zinc-100 dark:text-zinc-300;
  }
  .home-width {
    @apply max-w-[100%] md:max-w-[80%] lg:max-w-[1240px];
  }
  .inverted {
    @apply text-[#fff];
  }
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

.cropper-point.point-se {
  right: -6px;
  bottom: -6px;
}

.bg-radial::before {
  background: radial-gradient(75.61% 75.61% at 50% 24.39%, #352e53 0%, #b4530900 100%);
  z-index: -1;
  overflow: hidden;
}
