@import 'cropperjs/dist/cropper.css';
@import './variables.css';
@import './tailwind-utils.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .card {
    @apply p-4 border-b border-gray-200 md:border-none md:p-12 md:rounded-lg bg-white text-black md:shadow-sm w-full;
  }
}

@layer utilities {
  .card-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-4 xl:gap-8;
  }
  .profile-block {
    @apply border-y border-gray-200;
  }
  .card-heading {
    @apply text-lg font-semibold md:text-xl xl:text-2xl;
  }

  .card-heading-padding {
    @apply pb-4;
  }
  .card-subheading {
    @apply text-sm md:text-base xl:text-lg;
  }
  .card-body {
    @apply text-xs md:text-sm xl:text-base;
  }
  .card-padding {
    @apply p-4 md:p-6 lg:p-8;
  }
  .py-home {
    @apply py-[40px] md:py-[80px] lg:py-[160px] mx-auto;
  }
  .px-home {
    @apply px-[40px] md:px-[80px] lg:px-[160px];
  }
  .home-width {
    @apply max-w-[100%] md:max-w-[80%] lg:max-w-[1240px];
  }
  .p-body {
    @apply text-[12px] md:text-[18px];
  }
  .head-1 {
    @apply text-[48px] md:text-[56px] lg:text-[64px] font-bold;
  }
  .head-2 {
    @apply text-[38px] md:text-[48px] lg:text-[56px];
  }
  .head-3 {
    @apply text-[30px] md:text-[34px] lg:text-[38px];
  }
  .head-4 {
    @apply text-[24px] md:text-[28px] lg:text-[30px];
  }
  .inverted {
    @apply text-[#fff];
  }
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

/*
Layout transition animation
https://nuxt.com/docs/getting-started/transitions
*/
.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
