/* Define your custom utilities using CSS variables */
@import './variables.css';

/* Custom background colors */
.bg-base {
  background-color: rgb(var(--color-bg-base));
}

.bg-alt {
  background-color: rgb(var(--color-bg-alt));
}

/* Custom text colors */
.text-dark {
  color: rgb(var(--color-text-base));
}

.text-muted {
  color: rgb(var(--color-text-muted));
}

.text-inverted {
  color: rgb(var(--color-text-inverted));
}

/* Custom primary and secondary colors */
.text-primary {
  color: rgb(var(--color-primary));
}

.text-link {
  color: rgb(var(--color-primary));
}

.text-secondary {
  color: rgb(var(--color-secondary));
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.bg-secondary {
  background-color: rgb(var(--color-secondary));
}

.border-primary {
  border-color: rgb(var(--color-primary));
}

.border-secondary {
  border-color: rgb(var(--color-secondary));
}
