@import '../../../../theme/tailwind.base.css';
@import './shooting-star.css';
@import './blog.css';

/* App-specific styles */
@layer base {
  /* Override or add to base styles */

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
    color: var(--p-primary-color-text);
    font-family: 'Orbitron', sans-serif;
    font-display: swap;
  }
}

@layer components {
  /* Add overrude component classes */
}

@layer utilities {
  .p-overflow-hidden {
    overflow: auto;
    overflow-x: hidden;
  }

  /* Add app-specific utility classes */
}
