@import '../../../../theme/tailwind.base.css';
@import './shooting-star.css';

/* App-specific styles */
@layer base {
  /* Override or add to base styles */

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
    color: var(--p-primary-color-text);
    font-family: 'Orbitron', sans-serif;
  }
}

@layer components {
  /* Add or override component styles */
}

@layer utilities {
  /* Add app-specific utility classes */
}
