@import 'scrollbar.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
  :root {
    --mobi-bottom-nav-height: 50px;
    --nav-height-sm: 50px;
    --nav-height-lg: 60px;
    --max-width-sm: 840px;
    --max-width-md: 1040px;
    --max-width-lg: 1140px;

    --px-sm: 12px;
    --px-md: 16px;
    --px-lg: 24px;

    /* imported from old theme */

    /* added */

    --p-primary-50: #e6f1fa;
    --p-primary-100: #cce3f5;
    --p-primary-200: #99c7eb;
    --p-primary-300: #66aae0;
    --p-primary-400: #338ed6;
    --p-primary-500: #085eaa; /* Your provided color */
    --p-primary-600: #074b88;
    --p-primary-700: #053966;
    --p-primary-800: #022e55;
    --p-primary-900: #01223f;
    --p-primary-950: #001932;
    --p-primary-color-50: var(--p-primary-50);
    --p-primary-color-100: var(--p-primary-100);
    --p-primary-color-200: var(--p-primary-200);
    --p-primary-color-300: var(--p-primary-300);
    --p-primary-color-400: var(--p-primary-400);
    --p-primary-color-500: var(--p-primary-500);
    --p-primary-color-600: var(--p-primary-600);
    --p-primary-color-700: var(--p-primary-700);
    --p-primary-color-800: var(--p-primary-800);
    --p-primary-color-900: var(--p-primary-900);
    --p-primary-color-950: var(--p-primary-950);

    --p-surface-0: #f6f6f6;
    --p-surface-50: #dedede;
    --p-surface-100: #bebebe;
    --p-surface-200: #b8b8b8;
    --p-surface-300: #a2a2a2;
    --p-surface-400: #1c1c1f;
    --p-surface-500: #1a1a1d;
    --p-surface-600: #18181b;
    --p-surface-700: #161618;
    --p-surface-800: #18181b;
    --p-surface-900: #0e0e11;
    --p-surface-950: #09090b;
    --p-content-border-radius: 8px;

    --p-primary-color: var(--p-primary-color-500);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-color-300);
    --p-primary-active-color: var(--p-primary-color-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-color-950), transparent 84%);
    --p-highlight-color: rgba(31, 48, 208, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-color-950), transparent 76%);
    --p-highlight-focus-color: rgba(136, 39, 39, 0.87);
    --p-text-color: var(--p-surface-50);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);

    --p-surface-section: #18181b;
    --p-surface-card: #18181b;
    --p-surface-overlay: #18181b;
    --p-surface-border: #27272a;
    --p-surface-hover: rgba(80, 204, 22, 0.03);
    --p-primary-color-text: #e2e2e2;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
    color: var(--p-primary-color-text);
  }

  html {
    color: var(--p-primary-color-text) !important;
  }

  a {
    color: var(--p-primary-color-text);
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .wrapper {
    @apply mx-auto max-w-[var(--max-width-md)] lg:max-w-[var(--max-width-lg)] px-[var(--px-sm)] md:px-[var(--px-md)] lg:px-[var(--px-lg)];
  }

  .container {
    @apply mx-auto flex max-w-[1240px] flex-col px-[20px] md:px-[80px] lg:px-[160px];
  }
  .text-light {
    @apply text-zinc-300;
  }
  .padded-x {
    @apply px-4 lg:px-8;
  }

  .border-color {
    @apply !border-zinc-700;
  }

  .divider-color {
    @apply !divide-zinc-700;
  }

  .border-inverted {
    @apply border-zinc-300;
  }

  .background {
    @apply bg-[var(--p-surface-700)] text-zinc-300;
  }

  .foreground {
    @apply bg-[var(--p-surface-950)] text-zinc-300;
  }

  .highlight {
    @apply bg-[var(--p-primary-color-800)] text-zinc-300;
  }

  .link-active {
    @apply text-[var(--p-primary-color-500)] underline underline-offset-4;
  }

  .text-highlight {
    @apply text-[var(--p-primary-color-500)];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
